In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
# EXTRACT 2010 DATA
sa_crime_2010 = "Resources/2010-11-data_sa_crime.csv"
sa_crime_2010_df = pd.read_csv(sa_crime_2010)
sa_crime_2010_df.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2.0
1,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
2,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
3,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,6.0
4,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,3.0

In [11]:
# EXTRACT 2011 DATA

sa_crime_2011 = "Resources/2011-12-data_sa_crime.xlsx"
sa_crime_2011_df = pd.read_excel(sa_crime_2011)
sa_crime_2011_df.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2011,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1
1,1/07/2011,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Receive or handle proceeds of crime,1
2,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2
3,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,4
4,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,7

In [12]:
sa_crime_2012 = "Resources/2012-13-data_sa_crime.csv"
sa_crime_2012_df = pd.read_csv(sa_crime_2012)
sa_crime_2010_df.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2.0
1,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
2,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
3,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,6.0
4,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,3.0

In [14]:
# TRANSFORMING THE DATA
# JOIN DATA FOR 2010,2011 AND 2013 TOGETHER
frames = [sa_crime_2010_df,sa_crime_2011_df,sa_crime_2012_df]
sa_crime_df = pd.concat(frames)
sa_crime_df.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2.0
1,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
2,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
3,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,6.0
4,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,3.0

In [16]:
# NARROW DOWN TO THE COLUMNS IAM INTRESTED IN

sa_crime_df = sa_crime_df[['Suburb - Incident','Offence Level 2 Description','Offence count']].copy()

sa_crime_df

# DROP ROWS WITH NULL VALUES

sa_crime_df = sa_crime_df.dropna()

sa_crime_df

       Suburb - Incident           Offence Level 2 Description  Offence count
0               ADELAIDE  FRAUD DECEPTION AND RELATED OFFENCES            2.0
1               ADELAIDE     PROPERTY DAMAGE AND ENVIRONMENTAL            2.0
2               ADELAIDE             SERIOUS CRIMINAL TRESPASS            1.0
3               ADELAIDE            THEFT AND RELATED OFFENCES            6.0
4               ADELAIDE            THEFT AND RELATED OFFENCES            3.0
...                  ...                                   ...            ...
96398  WOODVILLE GARDENS             SERIOUS CRIMINAL TRESPASS            1.0
96399  WOODVILLE GARDENS            THEFT AND RELATED OFFENCES            1.0
96400  WOODVILLE GARDENS            THEFT AND RELATED OFFENCES            1.0
96401     WOODVILLE PARK            THEFT AND RELATED OFFENCES            1.0
96402     WOODVILLE WEST     PROPERTY DAMAGE AND ENVIRONMENTAL            2.0

[301413 rows x 3 columns]

In [17]:
# NARROW THE DATA TO 'Theft and related offences"

sa_theft_df = sa_crime_df.loc[sa_crime_df['Offence Level 2 Description']== 'THEFT AND RELATED OFFENCES',:]

sa_theft_df

       Suburb - Incident Offence Level 2 Description  Offence count
3               ADELAIDE  THEFT AND RELATED OFFENCES            6.0
4               ADELAIDE  THEFT AND RELATED OFFENCES            3.0
7                ALDGATE  THEFT AND RELATED OFFENCES            1.0
8                 ALFORD  THEFT AND RELATED OFFENCES            1.0
19           BLAIR ATHOL  THEFT AND RELATED OFFENCES            1.0
...                  ...                         ...            ...
96391   WHYALLA PLAYFORD  THEFT AND RELATED OFFENCES            1.0
96396          WILLASTON  THEFT AND RELATED OFFENCES            1.0
96399  WOODVILLE GARDENS  THEFT AND RELATED OFFENCES            1.0
96400  WOODVILLE GARDENS  THEFT AND RELATED OFFENCES            1.0
96401     WOODVILLE PARK  THEFT AND RELATED OFFENCES            1.0

[110169 rows x 3 columns]

In [20]:
# CONVERTING THE 'offence count' TO NUMERIC

sa_theft_df['Offence count'] = sa_theft_df.loc[:,'Offence count'].astype(float)
# GROUPING THEFT BY SUBURBS)
suburb_df = sa_theft_df.groupby(['Suburb - Incident'])

print(surbub_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E70ACCE310>

In [21]:
# CALCULATING TOTAL THEFT PER SUBURB
suburb_df['Offence count'].sum()

Suburb - Incident
ABERFOYLE PARK       458.0
ADDRESS UNKNOWN        1.0
ADELAIDE            9127.0
ADELAIDE AIRPORT     322.0
AGERY                  2.0
                     ...
YOUNGHUSBAND           3.0
YUMALI                 5.0
YUNDI                 10.0
YUNTA                 18.0
ZADOWS LANDING         1.0
Name: Offence count, Length: 1168, dtype: float64