In [72]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [49]:
# EXTRACT 2010 DATA
sa_crime_2010 = "Resources/2010-11-data_sa_crime.csv"
sa_crime_2010_df = pd.read_csv(sa_crime_2010)
sa_crime_2010_df.head()

                                                                                                                                                               <<<<<<< HEAD
Reported Date Suburb - Incident Postcode - Incident Offence Level 1 Description Offence Level 2 Description          Offence Level 3 Description              Offence count
1/07/2010     ADELAIDE          5000                OFFENCES AGAINST PROPERTY   FRAUD DECEPTION AND RELATED OFFENCES Obtain benefit by deception                          2
                                                                                PROPERTY DAMAGE AND ENVIRONMENTAL    Other property damage and environmental              2
                                                                                SERIOUS CRIMINAL TRESPASS            SCT - Non Residence                                  1
                                                                                THEFT AND RELATED OFFENCES           Other theft                                          6

In [50]:
# EXTRACT 2011 DATA

sa_crime_2011 = "Resources/2011-12-data_sa_crime.xlsx"
sa_crime_2011_df = pd.read_excel(sa_crime_2011)
sa_crime_2011_df.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2011,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1
1,1/07/2011,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Receive or handle proceeds of crime,1
2,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2
3,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,4
4,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,7

In [51]:
sa_crime_2012 = "Resources/2012-13-data_sa_crime.csv"
sa_crime_2012_df = pd.read_csv(sa_crime_2012)
sa_crime_2010_df.head()

                                                                                                                                                               <<<<<<< HEAD
Reported Date Suburb - Incident Postcode - Incident Offence Level 1 Description Offence Level 2 Description          Offence Level 3 Description              Offence count
1/07/2010     ADELAIDE          5000                OFFENCES AGAINST PROPERTY   FRAUD DECEPTION AND RELATED OFFENCES Obtain benefit by deception                          2
                                                                                PROPERTY DAMAGE AND ENVIRONMENTAL    Other property damage and environmental              2
                                                                                SERIOUS CRIMINAL TRESPASS            SCT - Non Residence                                  1
                                                                                THEFT AND RELATED OFFENCES           Other theft                                          6

In [52]:
# TRANSFORMING THE DATA
# JOIN DATA FOR 2010,2011 AND 2013 TOGETHER
frames = [sa_crime_2010_df,sa_crime_2011_df,sa_crime_2012_df]
sa_crime_df = pd.concat(frames)
sa_crime_df.head()

,<<<<<<< HEAD,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
"(Reported Date, Suburb - Incident, Postcode - Incident, Offence Level 1 Description, Offence Level 2 Description, Offence Level 3 Description)",Offence count,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1/07/2010, ADELAIDE, 5000, OFFENCES AGAINST PROPERTY, FRAUD DECEPTION AND RELATED OFFENCES, Obtain benefit by deception)",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1/07/2010, ADELAIDE, 5000, OFFENCES AGAINST PROPERTY, PROPERTY DAMAGE AND ENVIRONMENTAL, Other property damage and environmental)",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1/07/2010, ADELAIDE, 5000, OFFENCES AGAINST PROPERTY, SERIOUS CRIMINAL TRESPASS, SCT - Non Residence)",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1/07/2010, ADELAIDE, 5000, OFFENCES AGAINST PROPERTY, THEFT AND RELATED OFFENCES, Other theft)",6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# NARROW DOWN TO THE COLUMNS IAM INTRESTED IN

sa_crime_df = sa_crime_df[['Suburb - Incident','Offence Level 2 Description','Offence Level 3 Description','Offence count']].copy()

sa_crime_df

# DROP ROWS WITH NULL VALUES

sa_crime_df = sa_crime_df.dropna()

sa_crime_df

,Suburb - Incident,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,ABERFOYLE PARK,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0
1,ABERFOYLE PARK,THEFT AND RELATED OFFENCES,Receive or handle proceeds of crime,1.0
2,ADELAIDE,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2.0
3,ADELAIDE,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,4.0
4,ADELAIDE,THEFT AND RELATED OFFENCES,Other theft,7.0
...,...,...,...,...
96398,WOODVILLE GARDENS,SERIOUS CRIMINAL TRESPASS,Other unlawful entry with intent,1.0
96399,WOODVILLE GARDENS,THEFT AND RELATED OFFENCES,Other theft,1.0
96400,WOODVILLE GARDENS,THEFT AND RELATED OFFENCES,Theft from shop,1.0
96401,WOODVILLE PARK,THEFT AND RELATED OFFENCES,Other theft,1.0
96402,WOODVILLE WEST,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0

In [55]:
# NARROW THE DATA TO 'Theft and related offences"

sa_theft_df = sa_crime_df.loc[sa_crime_df['Offence Level 2 Description']== 'THEFT AND RELATED OFFENCES',:]

sa_theft_df

,Suburb - Incident,Offence Level 2 Description,Offence Level 3 Description,Offence count
1,ABERFOYLE PARK,THEFT AND RELATED OFFENCES,Receive or handle proceeds of crime,1.0
4,ADELAIDE,THEFT AND RELATED OFFENCES,Other theft,7.0
5,ADELAIDE,THEFT AND RELATED OFFENCES,Theft from motor vehicle,2.0
6,ADELAIDE,THEFT AND RELATED OFFENCES,Theft from shop,1.0
14,ALDINGA BEACH,THEFT AND RELATED OFFENCES,Other theft,1.0
...,...,...,...,...
96391,WHYALLA PLAYFORD,THEFT AND RELATED OFFENCES,Other theft,1.0
96396,WILLASTON,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
96399,WOODVILLE GARDENS,THEFT AND RELATED OFFENCES,Other theft,1.0
96400,WOODVILLE GARDENS,THEFT AND RELATED OFFENCES,Theft from shop,1.0
96401,WOODVILLE PARK,THEFT AND RELATED OFFENCES,Other theft,1.0

In [56]:
# CONVERTING THE 'offence count' TO NUMERIC

sa_theft_df['Offence count'] = sa_theft_df.loc[:,'Offence count'].astype(float)
# GROUPING THEFT BY SUBURBS)
suburb_df = sa_theft_df.groupby(['Suburb - Incident'],as_index=False)
# suburb_df = suburb_df.reset_index(inplace=True, drop=True)

print(suburb_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000219D6406C10>

In [57]:
# CALCULATING TOTAL THEFT PER SUBURB
result = suburb_df['Offence count'].sum().head(10)
result

  Suburb - Incident  Offence count
0    ABERFOYLE PARK          280.0
1          ADELAIDE         5948.0
2  ADELAIDE AIRPORT          189.0
3             AGERY            1.0
4          ALAWOONA            1.0
5       ALBERT PARK           59.0
6          ALBERTON          154.0
7           ALDGATE           36.0
8           ALDINGA           47.0
9     ALDINGA BEACH          455.0

In [93]:
new_df = pd.DataFrame(result)
new_df = new_df.sort_values(by='Offence count', ascending = False)
new_df = new_df.reset_index(drop=True)

# Rename the column headers
new_df['id'] = (new_df.index + 1).astype(int)

new_df = new_df.rename(columns={'id':'id','Suburb - Incident':'suburb','Offence count':'offence_count'})

new_df = new_df[['id','suburb','offence_count']]


new_df

   id            suburb  offence_count
0   1          ADELAIDE         5948.0
1   2     ALDINGA BEACH          455.0
2   3    ABERFOYLE PARK          280.0
3   4  ADELAIDE AIRPORT          189.0
4   5          ALBERTON          154.0
5   6       ALBERT PARK           59.0
6   7           ALDINGA           47.0
7   8           ALDGATE           36.0
8   9             AGERY            1.0
9  10          ALAWOONA            1.0

In [94]:
# CREATE CONNECTION

# from config import password1

connection_string = "postgres:Adewuniyi&3@localhost:5432/crime_db"
engine = create_engine(f'postgresql://{connection_string}')

In [109]:
import config

In [111]:
config.password_1

'Adewuniyi&3'

In [95]:
# CONFIRM TABBLE
engine.table_names()

['sa_crime']

In [96]:
# LOAD DATAFRAME INTO DATABASE

new_df.to_sql(name='sa_crime', con=engine, if_exists='append', index=False)

In [99]:
# CONFIRM DATA HAS BEEN CORRECTLY LOADED
pd.read_sql_query('select * from sa_crime', con=engine).head()

   id            suburb  offence_count
0   1          ADELAIDE           5948
1   2     ALDINGA BEACH            455
2   3    ABERFOYLE PARK            280
3   4  ADELAIDE AIRPORT            189
4   5          ALBERTON            154