In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import psycopg2

# NSW Crime data

### Store CSV into DataFrame

In [2]:
file = "Resources/rci-offencebymonth.csv"
nsw_crime = pd.read_csv(file)
nsw_crime

,Statistical Division or Subdivision,LGA,Offence category,Subcategory,Jan 1995,Feb 1995,Mar 1995,Apr 1995,May 1995,Jun 1995,...,Mar 2012,Apr 2012,May 2012,Jun 2012,Jul 2012,Aug 2012,Sep 2012,Oct 2012,Nov 2012,Dec 2012
0,Inner Sydney,Botany Bay,Homicide,Murder (a),0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Inner Sydney,Botany Bay,Homicide,Attempted murder,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Inner Sydney,Botany Bay,Homicide,"Murder accessory, conspiracy",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Inner Sydney,Botany Bay,Homicide,Manslaughter (a),0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Inner Sydney,Botany Bay,Assault,Domestic violence related assault,3.0,7.0,5.0,1.0,3.0,4.0,...,17.0,9.0,16.0,10.0,8.0,6.0,11.0,11.0,14.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9609,Prisons etc,Prisons,Other offences,NaN,4.0,2.0,1.0,2.0,7.0,7.0,...,6.0,9.0,9.0,10.0,4.0,2.0,4.0,4.0,14.0,9.0
9610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9611,(a) Number of victims.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9612,"During November and December 2011, NSW Police ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9613,If you require further information please cont...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Create new dataframe with selected columns

In [3]:
# filter the dataframe for only offence category "Theft"
theft_nsw = nsw_crime.loc[nsw_crime['Offence category']== 'Theft',:]
theft_nsw.head()
# Create dataframe for Years of interest (2010 -2012)
new_col = ['LGA','Subcategory','Jan 2010','Feb 2010','Mar 2010','Apr 2010','May 2010','Jun 2010',
'Jul 2010','Aug 2010','Sep 2010','Oct 2010','Nov 2010','Dec 2010','Jan 2011','Feb 2011','Mar 2011','Apr 2011','May 2011','Jun 2011','Jul 2011','Aug 2011','Sep 2011','Oct 2011','Nov 2011','Dec 2011','Jan 2012','Feb 2012','Mar 2012','Apr 2012','May 2012','Jun 2012','Jul 2012','Aug 2012','Sep 2012','Oct 2012','Nov 2012','Dec 2012']
theft_nsw_df = theft_nsw[new_col].copy() 
theft_nsw_df.reset_index(inplace = True, drop = True)
theft_nsw_df.head()

,LGA,Subcategory,Jan 2010,Feb 2010,Mar 2010,Apr 2010,May 2010,Jun 2010,Jul 2010,Aug 2010,...,Mar 2012,Apr 2012,May 2012,Jun 2012,Jul 2012,Aug 2012,Sep 2012,Oct 2012,Nov 2012,Dec 2012
0,Botany Bay,Break and enter dwelling,11.0,5.0,7.0,12.0,9.0,11.0,14.0,25.0,...,10.0,11.0,22.0,21.0,11.0,4.0,13.0,13.0,4.0,6.0
1,Botany Bay,Break and enter non-dwelling,3.0,10.0,7.0,2.0,6.0,5.0,6.0,7.0,...,3.0,5.0,3.0,2.0,1.0,4.0,2.0,4.0,1.0,5.0
2,Botany Bay,Receiving or handling stolen goods,4.0,7.0,3.0,8.0,5.0,2.0,2.0,5.0,...,4.0,7.0,1.0,7.0,3.0,4.0,4.0,3.0,6.0,4.0
3,Botany Bay,Motor vehicle theft,24.0,7.0,22.0,14.0,9.0,18.0,16.0,20.0,...,11.0,16.0,21.0,8.0,13.0,12.0,7.0,15.0,13.0,9.0
4,Botany Bay,Steal from motor vehicle,34.0,26.0,23.0,21.0,31.0,25.0,19.0,39.0,...,23.0,23.0,26.0,24.0,12.0,10.0,16.0,18.0,11.0,25.0

In [4]:
#check for null values
theft_nsw_df.count()

LGA            1705
Subcategory    1705
Jan 2010       1705
Feb 2010       1705
Mar 2010       1705
Apr 2010       1705
May 2010       1705
Jun 2010       1705
Jul 2010       1705
Aug 2010       1705
Sep 2010       1705
Oct 2010       1705
Nov 2010       1705
Dec 2010       1705
Jan 2011       1705
Feb 2011       1705
Mar 2011       1705
Apr 2011       1705
May 2011       1705
Jun 2011       1705
Jul 2011       1705
Aug 2011       1705
Sep 2011       1705
Oct 2011       1705
Nov 2011       1705
Dec 2011       1705
Jan 2012       1705
Feb 2012       1705
Mar 2012       1705
Apr 2012       1705
May 2012       1705
Jun 2012       1705
Jul 2012       1705
Aug 2012       1705
Sep 2012       1705
Oct 2012       1705
Nov 2012       1705
Dec 2012       1705
dtype: int64

# Clean DataFrame

In [5]:
# Sum the the count of offences over the years on interest
sum_count = theft_nsw_df.sum(axis=1)

# append to the dataframe
sum_count_df = pd.DataFrame(sum_count)
sum_count_df= sum_count_df.rename(columns={0:'offence_count'})
nsw_theft = pd.concat([theft_nsw_df,sum_count_df], axis=1)

# Drop all monthly count columns
nsw_theft_df = nsw_theft.drop(['Jan 2010','Feb 2010','Mar 2010','Apr 2010','May 2010','Jun 2010',
'Jul 2010','Aug 2010','Sep 2010','Oct 2010','Nov 2010','Dec 2010','Jan 2011','Feb 2011','Mar 2011','Apr 2011','May 2011','Jun 2011','Jul 2011','Aug 2011','Sep 2011','Oct 2011','Nov 2011','Dec 2011','Jan 2012','Feb 2012','Mar 2012','Apr 2012','May 2012','Jun 2012','Jul 2012','Aug 2012','Sep 2012','Oct 2012','Nov 2012','Dec 2012'],axis=1)
nsw_theft_df

             LGA                         Subcategory  offence_count
0     Botany Bay            Break and enter dwelling          481.0
1     Botany Bay        Break and enter non-dwelling          151.0
2     Botany Bay  Receiving or handling stolen goods          137.0
3     Botany Bay                 Motor vehicle theft          506.0
4     Botany Bay            Steal from motor vehicle          851.0
...          ...                                 ...            ...
1700     Prisons                 Steal from dwelling            0.0
1701     Prisons                   Steal from person            3.0
1702     Prisons                         Stock theft            0.0
1703     Prisons                               Fraud           20.0
1704     Prisons                         Other theft           45.0

[1705 rows x 3 columns]

In [6]:
# Groupby function to get the sum of theft crimes in each suburb
grouped_df = nsw_theft_df.groupby(['LGA'],as_index=False).sum().sort_values(by='offence_count',ascending=False)
grouped_df.head()

                LGA  offence_count
123          Sydney        67380.0
11        Blacktown        37054.0
100       Newcastle        25770.0
106      Parramatta        22439.0
77   Lake Macquarie        21120.0

In [7]:
# reset index
grouped_df.reset_index(inplace=True, drop=True)
grouped_df.head()

              LGA  offence_count
0          Sydney        67380.0
1       Blacktown        37054.0
2       Newcastle        25770.0
3      Parramatta        22439.0
4  Lake Macquarie        21120.0

In [8]:
# rename columns according to schema table column names
df = grouped_df.rename(columns={'LGA':'suburb'})
df

                      suburb  offence_count
0                     Sydney        67380.0
1                  Blacktown        37054.0
2                  Newcastle        25770.0
3                 Parramatta        22439.0
4             Lake Macquarie        21120.0
..                       ...            ...
150                    Urana           79.0
151               Jerilderie           77.0
152                  Conargo           42.0
153  Unincorporated Far West           20.0
154         Lord Howe Island           15.0

[155 rows x 2 columns]

# Connect to local Database

In [42]:
from config import password, password_1

ImportError: cannot import name 'password_1' from 'config' (/Users/bintucolley/Downloads/ETL-project-Green-Eagles-collins/config.py)

In [10]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/crime_db')

In [11]:
# Confirm tables
engine.table_names()

['nsw_crime']

In [12]:
# Load Dataframe into Database
df.to_sql(name='nsw_crime', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "nsw_crime_pkey"
DETAIL:  Key (suburb)=(Sydney) already exists.

[SQL: INSERT INTO nsw_crime (index, suburb, offence_count) VALUES (%(index)s, %(suburb)s, %(offence_count)s)]
[parameters: ({'index': 0, 'suburb': 'Sydney', 'offence_count': 67380.0}, {'index': 1, 'suburb': 'Blacktown', 'offence_count': 37054.0}, {'index': 2, 'suburb': 'Newcastle', 'offence_count': 25770.0}, {'index': 3, 'suburb': 'Parramatta', 'offence_count': 22439.0}, {'index': 4, 'suburb': 'Lake Macquarie', 'offence_count': 21120.0}, {'index': 5, 'suburb': 'Bankstown', 'offence_count': 20677.0}, {'index': 6, 'suburb': 'Wollongong', 'offence_count': 20525.0}, {'index': 7, 'suburb': 'Liverpool', 'offence_count': 20492.0}  ... displaying 10 of 155 total bound parameter sets ...  {'index': 153, 'suburb': 'Unincorporated Far West', 'offence_count': 20.0}, {'index': 154, 'suburb': 'Lord Howe Island', 'offence_count': 15.0})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

# SA Crime data

In [13]:
# EXTRACT 2010 DATA
sa_crime_2010 = "Resources/2010-11-data_sa_crime.csv"
sa_crime_2010_df = pd.read_csv(sa_crime_2010)
sa_crime_2010_df.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2.0
1,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
2,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
3,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,6.0
4,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,3.0

In [14]:
# EXTRACT 2011 DATA

sa_crime_2011 = "Resources/2011-12-data_sa_crime.xlsx"
sa_crime_2011_df = pd.read_excel(sa_crime_2011)
sa_crime_2011_df.head(50)

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2011,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1
1,1/07/2011,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Receive or handle proceeds of crime,1
2,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2
3,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,4
4,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,7
5,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,2
6,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1
7,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,1
8,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault resulting in injury,1
9,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST THE PERSON,OTHER OFFENCES AGAINST THE PERSON,"Abduction, harassment and other offences",1
10,1/07/2011,ADELAIDE,5000,OFFENCES AGAINST THE PERSON,ROBBERY AND RELATED OFFENCES,Aggravated robbery,1
11,1/07/2011,ALBERTON,5014,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1
12,1/07/2011,ALDINGA,5173,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1
13,1/07/2011,ALDINGA BEACH,5173,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Graffiti,1
14,1/07/2011,ALDINGA BEACH,5173,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1
15,1/07/2011,ALDINGA BEACH,5173,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,1
16,1/07/2011,ALDINGA BEACH,5173,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,2
17,1/07/2011,AMATA,872,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1
18,1/07/2011,ANDREWS FARM,5114,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Property damage by fire or explosion,1
19,1/07/2011,ANDREWS FARM,5114,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft/Illegal Use of MV,1
20,1/07/2011,ASCOT PARK,5043,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1
21,1/07/2011,ASHFORD,5035,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,1
22,1/07/2011,ATHELSTONE,5076,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1
23,1/07/2011,BALAKLAVA,5461,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1
24,1/07/2011,BERRI,5343,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1
25,1/07/2011,BLACKWOOD,5051,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1
26,1/07/2011,BLACKWOOD,5051,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1
27,1/07/2011,BLAIR ATHOL,5084,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1
28,1/07/2011,BLAKEVIEW,5114,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1
29,1/07/2011,BORDERTOWN,5268,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Other acts intended to cause injury,1
30,1/07/2011,BRIGHTON,5048,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Graffiti,1
31,1/07/2011,BROMPTON,5007,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1
32,1/07/2011,BROMPTON,5007,OFFENCES AGAINST THE PERSON,OTHER OFFENCES AGAINST THE PERSON,"Abduction, harassment and other offences",1
33,1/07/2011,BURTON,5110,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Receive or handle proceeds of crime,1
34,1/07/2011,CALLINGTON,5254,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1
35,1/07/2011,CAMDEN PARK,5038,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1
36,1/07/2011,CAMPBELLTOWN,5074,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1
37,1/07/2011,CEDUNA,5690,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1
38,1/07/2011,CHRISTIE DOWNS,5164,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1
39,1/07/2011,CHRISTIE DOWNS,5164,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Other acts intended to cause injury,1
40,1/07/2011,CHRISTIES BEACH,5165,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1
41,1/07/2011,CHRISTIES BEACH,5165,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1
42,1/07/2011,CHRISTIES BEACH,5165,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1
43,1/07/2011,CLEVE,5640,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1
44,1/07/2011,CLOVELLY PARK,5042,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,1
45,1/07/2011,COLLEGE PARK,5069,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1
46,1/07/2011,COLLEGE PARK,5069,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1
47,1/07/2011,COOBER PEDY,5723,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1
48,1/07/2011,COROMANDEL VALLEY,5051,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1
49,1/07/2011,CRAIGMORE,5114,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,2

In [15]:
sa_crime_2012 = "Resources/2012-13-data_sa_crime.csv"
sa_crime_2012_df = pd.read_csv(sa_crime_2012)
sa_crime_2010_df.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2.0
1,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
2,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
3,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,6.0
4,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,3.0

In [16]:
# TRANSFORMING THE DATA
# JOIN DATA FOR 2010,2011 AND 2013 TOGETHER
frames = [sa_crime_2010_df,sa_crime_2011_df,sa_crime_2012_df]
sa_crime_df = pd.concat(frames)
sa_crime_df.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2.0
1,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
2,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
3,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,6.0
4,1/07/2010,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,3.0

In [17]:
# NARROW DOWN TO THE COLUMNS IAM INTRESTED IN

sa_crime_df = sa_crime_df[['Suburb - Incident','Offence Level 2 Description','Offence count']].copy()

sa_crime_df

# DROP ROWS WITH NULL VALUES

sa_crime_df = sa_crime_df.dropna()

sa_crime_df

       Suburb - Incident           Offence Level 2 Description  Offence count
0               ADELAIDE  FRAUD DECEPTION AND RELATED OFFENCES            2.0
1               ADELAIDE     PROPERTY DAMAGE AND ENVIRONMENTAL            2.0
2               ADELAIDE             SERIOUS CRIMINAL TRESPASS            1.0
3               ADELAIDE            THEFT AND RELATED OFFENCES            6.0
4               ADELAIDE            THEFT AND RELATED OFFENCES            3.0
...                  ...                                   ...            ...
96398  WOODVILLE GARDENS             SERIOUS CRIMINAL TRESPASS            1.0
96399  WOODVILLE GARDENS            THEFT AND RELATED OFFENCES            1.0
96400  WOODVILLE GARDENS            THEFT AND RELATED OFFENCES            1.0
96401     WOODVILLE PARK            THEFT AND RELATED OFFENCES            1.0
96402     WOODVILLE WEST     PROPERTY DAMAGE AND ENVIRONMENTAL            2.0

[301413 rows x 3 columns]

In [18]:
# NARROW THE DATA TO 'Theft and related offences"

sa_theft_df = sa_crime_df.loc[sa_crime_df['Offence Level 2 Description']== 'THEFT AND RELATED OFFENCES',:]

sa_theft_df

       Suburb - Incident Offence Level 2 Description  Offence count
3               ADELAIDE  THEFT AND RELATED OFFENCES            6.0
4               ADELAIDE  THEFT AND RELATED OFFENCES            3.0
7                ALDGATE  THEFT AND RELATED OFFENCES            1.0
8                 ALFORD  THEFT AND RELATED OFFENCES            1.0
19           BLAIR ATHOL  THEFT AND RELATED OFFENCES            1.0
...                  ...                         ...            ...
96391   WHYALLA PLAYFORD  THEFT AND RELATED OFFENCES            1.0
96396          WILLASTON  THEFT AND RELATED OFFENCES            1.0
96399  WOODVILLE GARDENS  THEFT AND RELATED OFFENCES            1.0
96400  WOODVILLE GARDENS  THEFT AND RELATED OFFENCES            1.0
96401     WOODVILLE PARK  THEFT AND RELATED OFFENCES            1.0

[110169 rows x 3 columns]

In [24]:
# CONVERTING THE 'offence count' TO NUMERIC

sa_theft_df['Offence count'] = sa_theft_df.loc[:,'Offence count'].astype(float)
# GROUPING THEFT BY SUBURBS)
suburb_df = sa_theft_df.groupby(['Suburb - Incident'],as_index=False)
# suburb_df = suburb_df.reset_index(inplace=True, drop=True)

print(suburb_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x123d8dc40>

In [25]:
# CALCULATING TOTAL THEFT PER SUBURB
result = suburb_df['Offence count'].sum().head(10)
result

  Suburb - Incident  Offence count
0    ABERFOYLE PARK          458.0
1   ADDRESS UNKNOWN            1.0
2          ADELAIDE         9127.0
3  ADELAIDE AIRPORT          322.0
4             AGERY            2.0
5          ALAWOONA            1.0
6       ALBERT PARK          115.0
7          ALBERTON          241.0
8           ALDGATE           55.0
9           ALDINGA           81.0

In [26]:
new_df = pd.DataFrame(result)
new_df = new_df.sort_values(by='Offence count', ascending = False)
new_df = new_df.reset_index(drop=True)

# Rename the column headers
new_df['id'] = (new_df.index + 1).astype(int)

new_df = new_df.rename(columns={'id':'id','Suburb - Incident':'suburb','Offence count':'offence_count'})

new_df = new_df[['id','suburb','offence_count']]


new_df

   id            suburb  offence_count
0   1          ADELAIDE         9127.0
1   2    ABERFOYLE PARK          458.0
2   3  ADELAIDE AIRPORT          322.0
3   4          ALBERTON          241.0
4   5       ALBERT PARK          115.0
5   6           ALDINGA           81.0
6   7           ALDGATE           55.0
7   8             AGERY            2.0
8   9   ADDRESS UNKNOWN            1.0
9  10          ALAWOONA            1.0

In [28]:
# CREATE CONNECTION

connection_string = f"postgres:{password1}@localhost:5432/crime_db"
engine = create_engine(f'postgresql://{connection_string}')
# CONFIRM TABBLE
engine.table_names()

ImportError: cannot import name 'password1' from 'config' (/Users/bintucolley/Downloads/ETL-project-Green-Eagles-collins/config.py)

In [ ]:
# LOAD DATAFRAME INTO DATABASE

new_df.to_sql(name='sa_crime', con=engine, if_exists='append', index=False)

In [ ]:
# CONFIRM DATA HAS BEEN CORRECTLY LOADED
pd.read_sql_query('select * from sa_crime', con=engine).head()